.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: #1d1d1d;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #1d1d1d;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.card-title {
  color: #943e2f;
}

.card-description {
  font-size: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  color: #943e2f;
}
.card-selecionado {
  border: 1px solid #943e2f;
}

.img {
  border-radius: 20px 20px 0 0;
}